.sectionTrendList {
    background: linear-gradient(180deg, #191919 8%, #1E234D 44%, #7E8BFF 100%) !important;
    padding-bottom: 0 !important;
}

.button {
    padding: 22px 28px !important;
    background-color: var(--bg-secondary-color) !important;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiperButtonPrev,
.swiperButtonNext {
    background-color: var(--bg-button-slider-color) !important;
    cursor: pointer;
}

.swiperButtonPrev:hover,
.swiperButtonNext:hover {
    background-color: #000 !important;
}

.swiperButtonPrev svg,
.swiperButtonNext svg {
    stroke: white;
}