/* components/ChartComponent.module.css */
.chartContainer {
    padding: 30px;
    border-radius: 10px;
    max-width: 100%;
}

.chartCanvas {
    width: 100% !important;
    height: 400px;
    border-radius: 8px;
}

/* Tùy chỉnh thanh mô tả */
.chart-legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.chart-legend span {
    margin-right: 15px;
    font-size: 30px;
    color: white;
}

.chart-legend .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}