.chatbotContainer {
    position: fixed;
    width: 400px;
    height: 750px;
    background-color: #fff;
    border-radius: 20px;
    bottom: 30px;
    right: 90px;
    z-index: 10000000;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.2s ease-in-out;
    transform-origin: bottom right;
    pointer-events: none;
}

.chatbotContainer.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.chatbotHeader {
    background-color: var(--bg-primary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px 20px;
}

.infoWrapper {
    height: 12px;
}

.chatbotHeaderTitle {
    line-height: 1;
}

.statusIcon {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #43EE7D;
    margin-right: 3px;
}

.statusText {
    color: #43EE7D;
    font-size: 12px;
}

.chatbotBody {
    padding: 10px 23px;
    background-color: #F8F9FA;
    max-width: 100%;
    height: 546px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #7F8AFF transparent;
}

.chatbodyUserMessage,
.chatbotBodyAIMessage {
    margin-top: 10px;
}

.suggestionButton {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 12px;
    background-color: #F3F5F6;
    color: #444444;
    border: none;
    font-size: 12px;
    border-radius: 10px;
    display: inline-block;
}

.suggestionButton+.suggestionButton {
    margin-left: 10px;
}

.messageAIContent {
    background-color: #7F8AFF;
    padding: 16px 16px 32px 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
    margin-left: 10px;
    width: auto;
    max-width: 289px;
    min-width: 80px;
    margin-right: auto;
    color: #fff;
    display: inline-block;
}

.messageAIContent.thinking {
    padding: 18px 12px;
}

.messageUserContent {
    background-color: #DEE2E6;
    padding: 16px 16px 32px 20px;
    border-radius: 10px;
    position: relative;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 289px;
    min-width: 100px;
    width: auto;
    display: inline-block;
}

.waitingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 7px;
    height: 7px;
    opacity: .7;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 3px;
    animation: dotPulse 1.8s ease-in-out infinite;
}

.dot:nth-child(1) {
    animation-delay: 0.2s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dotPulse {
    0%,
    44% {
        transform: translateY(0);
    }

    28% {
        opacity: .4;
        transform: translateY(-6px);
    }

    44% {
        opacity: .2;
    }
}

.messageTriangle {
    position: absolute;
    bottom: -25px;
    right: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #DEE2E6;
}

.messageTriangleRight {
    position: absolute;
    bottom: -25px;
    left: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #7F8AFF;
}

.avatarAI {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #4C5EFF;
    z-index: 99999;
    padding: 7px;
}

.avatarUser {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #C4C4C4;
    z-index: 99999;
}

.messageUserTime {
    font-size: 10px;
    color: #888888;
    margin-right: 2px;
}

.messageTimeWrapper {
    position: absolute;
    bottom: -25px;
}

.messageAITimeWrapper {
    position: absolute;
    bottom: -25px;
    left: 40px;
}

.reactSection {
    width: 72px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #4C5EFF;
    border-radius: 10px;
    position: absolute;
    bottom: -12px;
    right: 16px;
}

.chatbotFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
}



.chatbotInputGroup {
    border-radius: 15px;
    background-color: #E8EBF0;
    box-sizing: border-box;
    outline: 2px solid transparent;
}

.inputMessage {
    background-color: #E8EBF0;
    padding-left: 25px;
    border: none;
    overflow-y: auto;
}

.closeIcon {
    cursor: pointer;
}

.inputMessage:focus {
    outline: none;
    border: none;
}

.chatbotInputGroup:focus-within {
    outline: 2px solid var(--bg-primary-color);
}

.sendIcon {
    margin-right: 20px;
    cursor: pointer;
}

.chatbotIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4C5EFF;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}